/.editorconfig      export-ignore
/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.circleci          export-ignore
/.codacy.yml        export-ignore
/tests              export-ignore
/codesize.xml       export-ignore
/phpunit.xml        export-ignore
/README.md          export-ignore
