/.circleci         export-ignore
/.github           export-ignore
/tests             export-ignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
.codacy.yml        export-ignore
codesize.xml       export-ignore
phpunit.xml        export-ignore
README.md          export-ignore
